img {
  width: 60%;
  align-self: center;
}

.card {
  border: 3px solid rgb(103, 102, 105);
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding: 20px;
}

.container {
  justify-content: center;
}

.details {
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding: 20px;
}

.title {
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.homepage_links {
  color: rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
}

.loginlink {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.form_panel {
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top: 3%;
  background-color: black;
}

.navitems {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
}

.nav_item {
  margin-left: 15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username {
  font: 30px sans-serif;
  color: black;
  align-self: flex-end;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.small_header {
  font: 30px sans-serif;
  color: black;
  margin: 0.5cm;
}

.img_icon {
  align-self: center;
  width: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

#contactContainer {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 4rem;
}

#contactIMG {
  margin: 0 auto;
  width: 45%;
  height: auto;
  padding-top: 1rem;
}

#contactInfo {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem 0;
}

#contactIcon {
  width: 30%;
  height: auto;
}
